.modal-background{
  // position: fixed;
  // height: 100vh;
  // width: 100%;
  // // margin: 30px;
  // opacity: 0.5;
  // background-color: black;
  // // padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(219, 205, 205, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.profile-update-form{
  // width: 50px;
  // // position: absolute;
  // margin: 0 auto;
  // background-color: gold;
  // font-family: "Arimo",
  // sans-serif;
  width: 300px;
  
  letter-spacing: 0.5px;
  background-color: #f08080;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.profile-update-title{
  text-align: center;
  margin: 20px 0px;
  font-size: 30px;
  font-weight: bold;
}

.profile-update-content{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-update-child{
  margin: 0 auto;
  width: 200px;
}

.profile-update-subsection-title{
  margin-bottom: 3px;
}

.profile-update-nickname{
  // width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.profile-update-birthday{
  // width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.profile-update-zipcode{
  // width: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.profile-update-submit{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.profile-update-button{
  width: 150px;
  height: 30px;
  // padding: 10px 0px;
  border-radius: 5px;
  border: 1px solid white;
  background-color:lightcoral;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.profile-update-button:hover{
  background-color: white;
  color: lightcoral;
}

.profile-update-button:active{
  background-color: white;
  color: #af5a5a;
  border: 1px solid #af5a5a;
}

.sticky-form {
  // font-family: "Arimo", sans-serif;
  letter-spacing: 0.5px;
  background-color: lightcoral;
  max-width: 350px;
  flex: 1;
  border-radius: 5px;
  position: relative;
  z-index: 1000;
  height: 280px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .create-sticky-header {
    color: white;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px #7a6868;
    margin-bottom: 10px;
  }

  textarea {
    height: 120px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: 300px;
    resize: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // background-image: url("../images/sticky-border.jpg");
    background-size: auto 100%;
    // background-color: lightcoral;
    padding: 20px 25px;
    font-size: 15px;
  }

  textarea::placeholder {
    color: rgb(163, 162, 162);
  }

  .send-sticky-button {
    display: flex;
    flex-direction: row-reverse;

    button {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      font-size: 15px;
      height: 35px;
      width: 100px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      color: lightcoral;
      background-color: white;
      
      .fa-telegram-plane {
        margin-left: 8px;
      }
    }
    
    button:hover {
      cursor: pointer;
      background-color: white;
      color: lightcoral;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.album-form {
  font-family: "Arimo", sans-serif;
  letter-spacing: 0.5px;
  background-color: lightcoral;
  max-width: 470px;
  flex: 1;
  border-radius: 5px;
  position: relative;
  z-index: 1000;
  height: 500px;
  padding: 20px;

  input {
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
  }

  button {
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
  }
}


.date-form {
  // font-family: "Arimo", sans-serif;
  letter-spacing: 0.5px;
  background-color: #5a94bf;
  max-width: 350px;
  flex: 1;
  border-radius: 5px;
  position: relative;
  z-index: 1000;
  height: 260px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .create-date-header {
    color: white;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px #7a6868;
    margin-bottom: 10px;
  }

  input {
    height: 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: 300px;
    padding: 20px 25px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  input::placeholder {
    color: rgb(163, 162, 162);
  }

  .create-date {
    display: flex;
    flex-direction: row-reverse;

    button {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      font-size: 15px;
      height: 35px;
      width: 100px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      color: white;
      background-color: lightcoral;
      
      .fa-calendar-alt {
        margin-left: 8px;
      }
    }
    
    button:hover {
      cursor: pointer;
      background-color: lightcoral;
      color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
    
.media-form {
  font-family: "Arimo", sans-serif;
  letter-spacing: 0.5px;
  background-color: lightcoral;
  max-width: 470px;
  height: 500px;
  padding: 20px;

  input {
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
  }

  button {
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
  }

  .upload-media-button {
    display: flex;
    flex-direction: row-reverse;

    button {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      font-size: 15px;
      height: 35px;
      width: 100px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      border: 1px solid white;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      color: white;
      background-color: lightcoral;

      .fa {
        margin-left: 8px;
      }
    }
  
    button:hover {
      cursor: pointer;
      background-color: white;
      color: lightcoral;
    }
  }
}
