.react-calendar {
  max-width: 650px;
  // min-width: 756px;
  width: 90%;
  height: 500px;
  // border: 1px solid #5a94bf;
  text-align: center;
  // background-color: #5a94bf;
  background-color: white;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  button {
    border: none;
    height: 65px;
    // background-color: #5a94bf;
    background-color: white;
    color: rgb(59, 59, 59);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // text-shadow: 1px 1px black;
  }
}

.react-calendar__navigation {
  height: 30px;
  margin-top: 10px;

  button {
    height: 30px;
    display: flex;
    justify-content: space-around;
  }

  .react-calendar__navigation__label {
    font-size: 18px;
  }
}

.react-calendar__month-view {
  margin-top: 30px;
  text-shadow: none;
}

.react-calendar__month-view__weekdays {
  font-weight: bold;
  color: lightcoral;
  height: 30px;
  font-size: 20px;
  // text-shadow: 1px 1px black;
  // background-color: 
}

.react-calendar__month-view__days {
  margin-top: 10px;

  button {
    text-shadow: none;  

    time {
      // border: 1px solid red;
    }
    
    // time:hover {
    //   border: 1px solid white;
    //   border-radius: 50% 50%;
    // }

    // time:focus {
    //   border: 1px solid white;
    //   border-radius: 50% 50%;
    // }
  }

  button:focus {
    // border: 1px solid white;
    // border-radius: 50% 50%;
    background-image: url("../images/download.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

