.react-calendar {
  width: 50%;
  height: 410px;
  border: 1px  solid lightcoral;
  text-align: center;
  background-color: lightcoral;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  button {
    border: none;
    height: 50px;
    background-color: lightcoral;
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

.react-calendar__navigation {
  height: 30px;

  button {
    height: 30px;
    display: flex;
    justify-content: space-around;
  }

  .react-calendar__navigation__label {
    font-size: 18px;
  }
}

.react-calendar__month-view__weekdays {
  font-weight: bold;
  color: black;
  height: 50px;
  font-size: 20px;
  // text-shadow: 1px 1px black;
  // background-color: 
}
