.media-index {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.media-item {
  flex-direction: column;
  flex: 1;
  width: 300px;
  margin: 2px;

  img {
    width: 300px;
    height: 300px;
  }
}
