html, body, section, article,
h1, h2, p, strong, em, a, input,
button {
  margin: 0;
  height: 100%;
  width: 100%;
  /* border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent; */
  font-family: 'Noto Serif TC', serif;
}

div:focus {
  display: none;
}

select:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.navbar-master {
  height: 75px;
  min-width: 960px;
}

.navbar-workingspace {
  background-color: lightcoral;
  display: flex;
  justify-content: space-around;
  height: inherit;
  color: white;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  /* text-shadow: 1px 1px gray; */
}

.navbar-logo {
  cursor: pointer;
  background-image: url("../images/Logo-white.png");
  height: 60px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-dates {
  cursor: pointer;
  margin-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}

.navbar-dates:hover {
  border-bottom: 3px solid white;
  text-shadow: 1px 1px gray;
}

.navbar-stickys {
  cursor: pointer;
  margin-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}

.navbar-stickys:hover {
  border-bottom: 3px solid white;
  text-shadow: 1px 1px gray;
}

.navbar-albums {
  cursor: pointer;
  margin-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}

.navbar-albums:hover {
  border-bottom: 3px solid white;
  text-shadow: 1px 1px gray;
}

.navbar-logout {
  border: 1px solid white;
  font-size: 15px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 6px;
}

.navbar-logout:hover {
  background-color: white;
  color: lightcoral;
}

.content {
  height: 500px;
}
